Классический эконометрический анализ

In [86]:
import pandas as pd
data = pd.read_csv('data/data_indexes_moex.csv')

In [98]:
print(f'''
Всего индексов: {data.shape[1]}
Всего торгуемых дней: {data.shape[0]}
''')

Всего индексов: 11
Всего торгуемых дней: 4784

In [87]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4784 entries, 0 to 4783
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TRADEDATE  4784 non-null   object
 1   MOEXRE     976 non-null    float64
 2   MOEXMM     4782 non-null   float64
 3   MOEXIT     782 non-null    float64
 4   MOEXFN     4783 non-null   float64
 5   MOEXEU     4783 non-null   float64
 6   MOEXCN     4775 non-null   float64
 7   MOEXCH     4283 non-null   float64
 8   MOEXOG     4783 non-null   float64
 9   MOEXTL     4783 non-null   float64
 10  MOEXTN     4039 non-null   float64
dtypes: float64(10), object(1)
memory usage: 411.2+ KB
None

In [88]:
print(data.head())

    TRADEDATE  MOEXRE   MOEXMM  MOEXIT   MOEXFN   MOEXEU   MOEXCN  MOEXCH  \
0  2004-12-30     NaN  1000.00     NaN  1000.00  1000.00      NaN     NaN
1  2004-12-31     NaN      NaN     NaN      NaN      NaN  1000.00     NaN
2  2005-01-11     NaN   968.46     NaN  1004.90  1001.62  1000.24     NaN
3  2005-01-12     NaN   955.53     NaN   995.09   992.42   997.34     NaN
4  2005-01-13     NaN   950.12     NaN   993.07   991.00  1001.56     NaN

    MOEXOG   MOEXTL  MOEXTN
0  1000.00  1000.00     NaN
1      NaN      NaN     NaN
2  1007.46  1009.93     NaN
3  1009.62   998.73     NaN
4  1008.79   996.53     NaN

In [89]:
data.tail(5)

,TRADEDATE,MOEXRE,MOEXMM,MOEXIT,MOEXFN,MOEXEU,MOEXCN,MOEXCH,MOEXOG,MOEXTL,MOEXTN
4779,2024-02-16,10429.18,8023.27,3259.58,10504.67,2052.78,8905.72,36774.14,9158.72,2063.44,1902.90
4780,2024-02-19,10367.98,8014.71,3257.48,10579.73,2048.73,8906.83,36743.67,9140.84,2085.24,1917.80
4781,2024-02-20,10227.99,7924.11,3218.33,10538.58,2026.17,8814.23,36244.37,9031.36,2088.63,1872.32
4782,2024-02-21,9964.89,7713.32,3115.25,10055.25,1964.26,8507.50,35551.59,8845.97,2039.66,1786.75
4783,2024-02-22,10019.81,7768.37,3135.56,10116.50,1974.29,8511.46,35818.29,8811.10,2044.82,1803.62

In [24]:
print(data.describe())

             MOEXRE        MOEXMM       MOEXIT        MOEXFN       MOEXEU  \
count    976.000000   4782.000000   782.000000   4783.000000  4783.000000
mean    8578.289006   4759.312440  3206.058235   6040.769302  1894.864587
std     2191.805560   2565.967203  1402.994215   2380.352266   742.205608
min     4882.370000    777.700000  1282.870000    952.210000   695.870000
25%     6706.302500   2735.170000  1935.647500   4728.025000  1321.535000
50%     8256.185000   4220.835000  2806.345000   5936.220000  1849.490000
75%    10008.770000   6157.322500  4879.590000   7127.785000  2234.055000
max    15070.430000  12192.640000  5784.080000  14638.830000  4099.060000

            MOEXCN       MOEXCH        MOEXOG       MOEXTL       MOEXTN
count  4775.000000   4283.00000   4783.000000  4783.000000  4039.000000
mean   5199.807621  13384.93498   4475.043199  1884.119080  1362.517532
std    1967.622159   9884.78365   2273.044181   406.857363   427.310823
min     984.870000   1306.59000    883.800000   575.410000   557.690000
25%    3443.610000   6445.29500   2641.075000  1674.355000  1090.510000
50%    5642.640000  11653.50000   3518.240000  1890.900000  1350.290000
75%    6375.375000  15682.27000   6277.325000  2197.615000  1580.370000
max    9596.560000  44955.57000  10024.820000  2712.950000  2635.340000

In [95]:
titles = ['MOEXRE','MOEXMM','MOEXIT','MOEXFN','MOEXEU','MOEXCN','MOEXCH','MOEXOG','MOEXTL','MOEXTN']
initial_values = [5000,1000,5000,1000,1000,1000,3600,1000,1000,2500]
max_fall_from_initial_value = []
max_raise_from_initial_value = []

for title, initial_value in zip(titles, initial_values):
    max_fall_from_initial_value.append((data[title].min() - initial_value) / initial_value * 100)
    max_raise_from_initial_value.append((data[title].max() - initial_value) / initial_value * 100)

# Создадим небольшую табличку, где будут хранится описательные статистики #

In [96]:
stat = pd.DataFrame()

for title in titles:
    stat[title] = []

stat.loc[len(stat)] = initial_values
stat = stat.rename(index={0: 'initial_values'})
stat.loc[len(stat)] = max_fall_from_initial_value
stat = stat.rename(index={1: 'max_fall_from_initial_value'})
stat.loc[len(stat)] = max_raise_from_initial_value
stat = stat.rename(index={2: 'max_raise_from_initial_value'})


top_falls = stat.loc['max_fall_from_initial_value'].nsmallest(10)
top_falls_columns = top_falls.index.tolist()

top_raises = stat.loc['max_raise_from_initial_value'].nlargest(10)
top_raises_columns = top_raises.index.tolist()

print('Топ разниц между начальным и минимальным значением индекса в %-х изменениях:')

for column, i in zip(top_falls_columns, range(1, 11)):
    print(f"{i}. {column}: {round(stat.loc['max_fall_from_initial_value'][column], 2)}%")

print()
print('Топ разниц между максимальным и начальным значением индекса в %-х изменениях:')

for column, i in zip(top_raises_columns, range(1, 11)):
    print(f"{i}. {column}: {round(stat.loc['max_raise_from_initial_value'][column], 2)}%")


stat

Топ разниц между начальным и минимальным значением индекса в %-х изменениях:
1. MOEXTN: -77.69%
2. MOEXIT: -74.34%
3. MOEXCH: -63.71%
4. MOEXTL: -42.46%
5. MOEXEU: -30.41%
6. MOEXMM: -22.23%
7. MOEXOG: -11.62%
8. MOEXFN: -4.78%
9. MOEXRE: -2.35%
10. MOEXCN: -1.51%

Топ разниц между максимальным и начальным значением индекса в %-х изменениях:
1. MOEXFN: 1363.88%
2. MOEXCH: 1148.77%
3. MOEXMM: 1119.26%
4. MOEXOG: 902.48%
5. MOEXCN: 859.66%
6. MOEXEU: 309.91%
7. MOEXRE: 201.41%
8. MOEXTL: 171.3%
9. MOEXIT: 15.68%
10. MOEXTN: 5.41%

,MOEXRE,MOEXMM,MOEXIT,MOEXFN,MOEXEU,MOEXCN,MOEXCH,MOEXOG,MOEXTL,MOEXTN
initial_values,5000.0000,1000.000,5000.0000,1000.000,1000.000,1000.000,3600.000000,1000.000,1000.000,2500.0000
max_fall_from_initial_value,-2.3526,-22.230,-74.3426,-4.779,-30.413,-1.513,-63.705833,-11.620,-42.459,-77.6924
max_raise_from_initial_value,201.4086,1119.264,15.6816,1363.883,309.906,859.656,1148.765833,902.482,171.295,5.4136

Далее перейдем от абсолютных значений индексов к приростам в %, для более детального анализа и описательных статистик.